canvas {
    max-width: 100%;
    height: auto;
}
button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    margin: 5px; 
    cursor: pointer; 
    border-radius: 5px;
}


button:hover {
    background-color: #0056b3;
}